name: PHP Insights
on: pull_request
jobs:
  insights:
    name: PHP Insights
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Prepare mysql
        run: cp docker/mysql/.env docker/mysql/.env.local
      - name: Run containers
        run: docker-compose up -d
      - name: setup composer
        run: docker-compose exec php composer install
      - name: php insights
        run: docker-compose exec php ./vendor/bin/phpinsights -n